@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-8xl: 1400px;

  /* Add Audiowide Font */
  --font-logo: "Goldman", sans-serif;

}

/* statistic scroll style */
.custom-scroll {
  -webkit-overflow-scrolling: touch; 
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  display: flex; 
}

.custom-scroll::-webkit-scrollbar {
  height: 8px; 
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll > * {
  scroll-snap-align: start; 
}
