@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-8xl: 1400px;

  /* Add Audiowide Font */
  --font-logo: "Goldman", sans-serif;

}

